@{
    Layout = "Layout";
}
<div class="ct">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Modulname:</label>
            <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{
            'is-invalid': form.controls.name.invalid && form.controls.name.dirty,
            'is-valid': form.controls.name.valid && form.controls.name.dirty}">
        </div>
        <div class="form-group">
            <label for="professor">Professor:</label>
            <input type="text" class="form-control" id="professor" formControlName="professor" [ngClass]="{
            'is-invalid': form.controls.professor.invalid && form.controls.professor.dirty,
            'is-valid': form.controls.professor.valid && form.controls.professor.dirty}">
        </div>
        <div class="form-group">
            <label for="ects">ECTS:</label>
            <input type="number" class="form-control" id="ects" formControlName="ects" [ngClass]="{
            'is-invalid': form.controls.ects.invalid && form.controls.ects.dirty,
            'is-valid': form.controls.ects.valid && form.controls.ects.dirty}">
        </div>
        <div class="form-group">
            <label for="note">Note:</label>
            <input type="number" class="form-control" id="note" formControlName="note" [ngClass]="{
            'is-invalid': form.controls.note.invalid && form.controls.note.dirty,
            'is-valid': form.controls.note.valid && form.controls.note.dirty}">
        </div>
        <div class="form-group">
            <label for="semester">Semester:</label>
            <input type="number" class="form-control" id="semester" formControlName="semester" [ngClass]="{
            'is-invalid': form.controls.semester.invalid && form.controls.semester.dirty,
            'is-valid': form.controls.semester.valid && form.controls.semester.dirty}">
        </div>
        <button type="submit" class="btn btn-primary">Ok</button>
        &nbsp;
        <button type="button" class="btn btn-success" (click)="onCancel()">Abbrechen</button>
    </form>
</div>