@{
    Layout = "Layout";
}
<div class="ct">
    <button class="btn btn-success" [disabled]="!selected" [ngClass]="!selected ? 'disabled' :''"
            (click)="onEdit()">
        Modul bearbeiten
    </button>

    &nbsp;

    <button class="btn btn-danger" [disabled]="!selected" [ngClass]="!selected ? 'disabled' :''"
            (click)="onDelete()">
        Modul löschen
    </button>

    &nbsp;

    <button class="btn btn-success" (click)="onNew()">Modul hinzufügen</button>

    <br><br>

    <table class="table table-bordered table-hover">
        <colgroup>
            <col span="1" style="width: 60%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <thead>
        <td scope="col">Modulname</td>
        <td scope="col">Professor</td>
        <td scope="col">ECTS: {{allECTS}}</td>
        <td scope="col">Note Ø{{averageGrade.toFixed(2)}}</td>
        </thead>
        <tbody>
            <tr *ngFor="let modul of objects; let i = index" (click)="onSelect(i)"
                [ngClass]="modul == selected ? 'table-info' : ''">
                <td scope="row">{{modul.name}}</td>
                <td scope="row">{{modul.professor}}</td>
                <td scope="row">{{modul.ects}}</td>
                <td scope="row">{{modul.note.toFixed(1)}}</td>
            </tr>
        </tbody>
    </table>
</div>